body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}